*{
    margin: 0;
    padding: 0
}
body {
    background-color: #d34f4f;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}
#container {
    background-color: rgb(228, 157, 98);
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column ;
    justify-content: space-around
}
#container h2 {
    align-self: flex-end
}
/****************** Products ******************/
#products{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 240, 192);
    color:maroon
}
.product {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px;
}
.item {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.item > img {
    width:150px
}
.item >button {
    width: 34px;
    height: 34px;
    margin: 5px;
    border: 0pt transparent;
    border-radius: 50%;
    background-color: #efefef;
    font-size: 18px;
    color:maroon;
    outline: 0;
    cursor: pointer;
}
.item >button:hover {
    background-color: maroon;
    color:#efefef
  }
.item > .qte {
    height: 25px;
    max-width: 75px;
    border: 0pt transparent;
    border-radius: 25px;
    background-color: #efefef;
    font-size: 18px;
    color:maroon;
    outline: 0;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
/****************** images overlay ******************/
.img-container{
    position: relative;
}
.image{
    display: block
}
  .overlay {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: .5s ease;
    background-color: maroon;
  }
  .img-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  .text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /****************** Icons ******************/
  .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50px;
      margin-right: -100px;
  }
  .fa-heart, .fa-times-circle{
      color:maroon;
  }
  .fa-heart:hover{
      color: red;
      cursor: pointer;
      animation: fa-spin 1s
  }
  .fa-times-circle:hover{
      cursor: pointer;
  }




  .container2{
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 0%;
    
  }
  
  .modal-container{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    visibility: hidden;
    

  }
  
  .modal{
      position: relative;
      display: flex;
      align-items: center ;
      background-color: rgb(255, 255, 255);
      width: 200px;
      height: 100px;
      border: none;
       border-radius: 10px;
      outline: none;
      
      
      
  }
  
  
  .close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    align-items: center ;
    
  }
  
  
  
  .close-icon svg{
    width: 30px;
  }
  
  .cta-button{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: medium;
  }

  .total {
    color: black; 
    font-family: monospace;
    height: 65px;
    font-size: 30px;
  }